.navbar, .navbar-brand {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 1.1rem;
}

body {
  background-color: #161319;
  color: #f9f3f6;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
}

th, td {
    padding: 0.18rem 0.38rem; /* Diminua o padding lateral e vertical */
    min-width: 80px; /* Reduza a largura mínima das colunas */
    font-size: 0.85rem; /* Fonte menor para dados */
    text-align: center;
    vertical-align: middle;
    border: none;
}

td:first-child, th:first-child {
    text-align: left;
}

tr:not(:last-child) {
    border-bottom: 1px solid #eee;
}

thead {
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    z-index: 1;
}

.btn-link {
    font-weight: 500;
    color: #0d6efd;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.btn-outline-primary {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
}

.table-secondary {
    background-color: #f1f3f5;
}

.table-success {
    background-color: #e6ffed;
}

.btn-link, .btn-link:focus, .btn-link:active {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.table span, strong{
  background: none !important;
}
#entityTable, .table {
    font-size: 0.85rem;
}
